body{
    margin: 0px;
    padding: 0px;

}

header{
    background-color : rgba(5, 58, 88, 0.849);
    color: white;
    height: 34px;
}

img{
         height:180px;
         width: 350px;
   }
   footer{
    background-color: cadetblue;
    text-align: center;
    color: rgb(61, 61, 99);
    position: fixed;

   }
main{
    background-color: rgba(95, 158, 160, 0.5);
    width: 70%;
    display: block;
    justify-content: center;
}

